[Unit]
Description=sic cloud-init server
Documentation=https://stash.us.cray.com/projects/MTL/repos/sic/browse
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStartPre=/root/bin/sic-init.sh %t/%n-pid %t/%n-cid sic
ExecStart=/usr/bin/podman start sic
ExecStop=/usr/bin/podman stop --ignore -t 10 sic
PIDFile=%t/%n-pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target