.github/                    @Cray-HPE/metal
*                           @Cray-HPE/metal @Cray-HPE/management-network
scripts/                    @Cray-HPE/metal
pkg/bss                     @Cray-HPE/hardware-management
pkg/etcd                    @Cray-HPE/platform-engineering
pkg/kubernetes              @Cray-HPE/platform-engineering
pkg/networking              @Cray-HPE/management-network
pkg/shcd                    @Cray-HPE/metal @Cray-HPE/management-network
pkg/sls                     @Cray-HPE/hardware-management
