system:
  machine_name: "shasta"
  site_services:
    ntp_pool_hostname: "pool.ntp.org"
    ipv4_resolvers: 
      - "8.8.8.8"
      - "9.9.9.9"
    ldap:
      bind_dn: CN=username,CN=Users,DC=yourdomain,DC=com
      servers:
        - "ldaps://ldap_server:port/dn?attributes?scope?filter?extensions"
      bind_password: "initial0"
      ad_groups:
        - { name: admin_grp, origin: ALL }
        - { name: dev_users, origin: ALL }
      search_base: "dc=datacenter,dc=cray,dc=com"
      domain: "Cray_DC"
      user_attribute_mappers_to_remove: ['email']

site_networks:
  can_admin:
    full_name: Customer Access Network (Administrator)
    ip_reservations:
    - ip: 192.168.10.5
      name: dns
    name: CANA
    network_cidr: 192.168.10.1/24
    gateway: 192.168.10.254
    type: ethernet
    vlan: 7
    mtu: 9000
  can_user:
    full_name: Customer Access Network (User)
    ip_reservations:
    - ip: 192.168.10.5
      name: dns
    name: CANU
    network_cidr: 192.168.20.1/24
    gateway: 192.168.20.254
    type: ethernet
    vlan: 14
    mtu: 9000