{
  "Global": {
    "meta-data": {
      "foo": "bar"
    }
  },
  "Default": {
    "meta-data": {
      "foo": "bar"
    },
    "user-data": {}
  },
  "f0:18:98:8c:ea:7d": {
    "meta-data": {
      "availability-zone": "shasta1-a",
      "cloud-name": "nocloud",
      "local-hostname": "ncn-m002",
      "region": "shasta1",
      "shasta-role": "ncn-master"
    },
    "user-data": {
      "bootcmd": [
        "echo \"This is a boot cmd $(date)\" \u003e /opt/bootcmd"
      ],
      "disable_ec2_metadata": true,
      "disable_root": true,
      "disable_root_opts": "no-port-forwarding,no-agent-forwarding,no-X11-forwarding,command=\"echo Please login as the user '$USER' rather than the user '$DISABLE_USER'.;echo;sleep 10\"",
      "final_message": "The system is up, after $UPTIME seconds",
      "locale": "en_US.UTF-8",
      "locale_configfile": "/etc/default/locale",
      "manage_etc_hosts": true,
      "manage_resolv_conf": true,
      "manual_cache_clean": true,
      "ntp": {
        "enabled": true,
        "ntp_client": "chrony",
        "pools": [
          "0.opensuse.pool.ntp.org",
          "1.opensuse.pool.ntp.org",
          "2.opensuse.pool.ntp.org"
        ]
      },
      "package_reboot_if_required": false,
      "package_update": false,
      "package_upgrade": false,
      "packages": [],
      "resize_rootfs": false,
      "resolv_conf": {
        "nameservers": [
          "1.1.1.1",
          "1.0.0.1"
        ],
        "searchdomains": "internal"
      },
      "runcmd": [
        "echo This is a run cmd $(date) \u003e /opt/runcmd",
        [
          "cloud-init-per",
          "once",
          "echo \"This is a run cmd that runs once $(date)\" \u003e /opt/runcmdOnce"
        ]
      ],
      "ssh_svcname": "sshd",
      "timezone": "Etc/UTC",
      "users": [
        {
          "name": "shasta",
          "passwd": "$6$44jfIQIkH8WOnHZN$XRWvoRsYbRgXWWkDfzpOxdIrs2y8/uGwXaW7C6okoKOXh/hKdaBS7GOaUJoJrLhh4B7JhRiEV6fwvQiyrwYDO0",
          "shell": "/bin/bash",
          "sudo": "ALL=(ALL) ALL"
        }
      ],
      "write_files": [
        {
          "content": "testing123",
          "path": "/opt/foo"
        }
      ]
    }
  }
}