cabinet_type:
  mountain: []
  mountain_tds:
  - x5000
  river:
  - x3000
computes:
- cabinets:
  - x3000
  hmn:
    cidr: 10.254.0.1/17
    gateway: 10.254.0.1
    vlan: 4
  nmn:
    cidr: 10.252.0.1/17
    gateway: 10.252.0.1
    vlan: 2
- cabinets:
  - x5000
  hmn:
    cidr: 10.104.0.1/22
    gateway: 10.104.3.254
    vlan: 3001
  nmn:
    cidr: 10.100.0.1/22
    gateway: 10.100.3.254
    vlan: 2001
ncn:
- cabinets:
  - x3000
  hmn:
    cidr: 10.254.0.1/17
    gateway: 10.254.0.1
    vlan: 4
  nmn:
    cidr: 10.252.0.1/17
    gateway: 10.252.0.1
    vlan: 2
ncn_ips:
  x3000c0s11b0n0:
    hmn_ip: 10.254.0.6
    hostname: ncn-w003
    nmn_ip: 10.252.0.6
  x3000c0s7b0n0:
    hmn_ip: 10.254.0.4
    hostname: ncn-w001
    nmn_ip: 10.252.0.4
  x3000c0s9b0n0:
    hmn_ip: 10.254.0.5
    hostname: ncn-w002
    nmn_ip: 10.252.0.5
network:
  hardware_management:
    full_name: Hardware Management Network
    name: HMN
    network_cidr: 10.254.0.0/17
    type: ethernet
    vlan: 4
    vlan_range:
      max: 3999
      min: 3001
  high_speed:
    full_name: High Speed Network
    name: HSN
    network_cidr: 10.253.0.0/16
    type: slingshot10
    vlan: 0
  metal_management:
    full_name: Metal Management Network
    name: Metal
    network_cidr: 10.1.0.0/16
    type: ethernet
    vlan: 1
  metallb_hardware_management:
    full_name: MetalLB Hardware Management Network
    ip_reservations:
    - ip: 10.94.100.225
      name: dns
    - ip: 10.94.100.222
      name: dhcp
    name: MetalLB_HMN
    network_cidr: 10.94.100.0/24
    type: ethernet
  metallb_node_management:
    full_name: MetalLB Node Management Network
    ip_reservations:
    - ip: 10.92.100.225
      name: dns
    - ip: 10.92.100.222
      name: dhcp
    name: MetalLB_NMN
    network_cidr: 10.92.100.0/24
    type: ethernet
  node_management:
    full_name: Node Management Network
    name: NMN
    network_cidr: 10.252.0.0/17
    type: ethernet
    uai_macvlan:
      network_cidr: 10.252.124.0/23
    vlan: 2
    vlan_range:
      max: 2999
      min: 2001
supernova_metadata:
  hosts:
    metadata:
      file_creation_time: '2020-08-11 17:08:42.806564'
      shcd_revision: B13
      supernova_version: 1.3.0021
switch_ips:
  x3000c0w22:
    hmn_ip: 10.254.0.2
    mtl_ip: 10.1.0.2
    name: sw-leaf01
    nmn_ip: 10.252.0.2
    sun_ip: 10.11.0.2
  x3000c0w23L:
    hmn_ip: 10.254.0.1
    mtl_ip: 10.1.0.1
    name: sw-spine01
    nmn_ip: 10.252.0.1
    sun_ip: 10.11.0.1
  x3000c0w23R:
    hmn_ip: 10.254.0.3
    mtl_ip: 10.1.0.3
    name: sw-spine02
    nmn_ip: 10.252.0.3
    sun_ip: 10.11.0.3
system:
  mountain_starting_nid: 1001

