name: Promote build to a release (stable)
on:
  push:
    tags:
      - 'v?[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

env:
  STREAM: stable
  LATEST: false
jobs:
  Promote:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Jfrog setup
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://artifactory.algol60.net
          JF_USER: ${{ secrets.ARTIFACTORY_ALGOL60_USERNAME }}
          JF_ACCESS_TOKEN: ${{ secrets.ARTIFACTORY_ALGOL60_TOKEN }}

      - uses: ./.github/actions/prepare-artifacts
        with:
          STREAM: ${{ env.STREAM }}

      - name: Get Branch
        run: |
          mapfile -t branches < <(git branch -r --contains ${{ github.ref }} | awk '{print $1}')
          echo "${branches[@]}"
          for branch in "${branches[@]}"; do
            branch_name="${branch/origin\/}"
            echo "${branch_name}"
            if [ "${branch_name}" = 'main' ]; then
              echo LATEST=true >> $GITHUB_ENV
              break
            fi
          done

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true # if the job is re-ran to catch missed artifacts, allow updates
          generateReleaseNotes: true
          artifacts: ${{ env.DIR_UPLOAD }}/*
          prerelease: false
          makeLatest: ${{ fromJSON(env.LATEST) }}
